body {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    background-color: #f0f0f0; /* Change this to your desired background color */
    font-family: 'Poppins', sans-serif;
    text-align: center;
    background-image: url('bg.jpg'); /* Replace 'your-image-url.jpg' with the URL of your image */
    background-size: cover;
    background-position: center;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 80%;
}

th, td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: center;
}

.default-status {
    background-color: white;
    color: black;
}

.present {
    background-color: green;
    color: white;
}

.busy {
    background-color: yellow;
    color: black;
}

.not-available {
    background-color: red;
    color: white;
}

select {
    width: 100%;
    padding: 5px;
}
